<!DOCTYPE html>
<html>

<% include ../partials/head %>

<body class="hold-transition skin-blue layout-top-nav">
<!-- Automatic element centering -->

  <% include ../partials/header %>

	<div class="btn-group-vertical" style="padding-left: 40%">
		<div style="height: 50px"></div>
		<a href="/logout" class="btn btn-primary btn-lg">LOG OUT</a>
		<div style="height: 20px"></div>
		<a href="/editProfile" class="btn btn-primary btn-lg">UPDATE PROFILE</a>
		<div style="height: 20px"></div>
		<a href="/viewSourceReports" class="btn btn-primary btn-lg">VIEW SOURCE REPORTS</a>
		<div style="height: 20px"></div>
		<a href="/viewMap" class="btn btn-primary btn-lg">VIEW MAP</a>
		<div style="height: 20px"></div>
		<a href="/newSourceReport" class="btn btn-primary btn-lg">ADD NEW SOURCE REPORT</a>
		<% if(privilege != "USER") { %>
			<div style="height: 20px"></div>
			<a href="/viewQualityReports" class="btn btn-primary btn-lg">VIEW QUALITY REPORTS</a>
			<div style="height: 20px"></div>
			<a href="/newQualityReport" class="btn btn-primary btn-lg">ADD NEW QUALITY REPORT</a>
		<% } %>
		<% if(privilege == "MANAGER") { %>
			<div style="height: 20px"></div>
			<a href="/viewHistoricalReport" class="btn btn-primary btn-lg">VIEW HISTORICAL REPORT</a>
		<% } %>
	</div>




<!-- /.center -->

<!-- jQuery 2.2.3 -->
<script src="../../plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="../../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
