<!DOCTYPE html>
<html>

<% include ../partials/head %>

<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper">

  <% include ../partials/header %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="container">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Update Profile
        <small>Update your profile.</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">

      	<form role="form" id="editProfileForm">
              <div class="form-group has-feedback">
                  <input type="text" class="form-control" name="first_name" placeholder="First Name" value=<%=first_name%>>
                  <span class="glyphicon glyphicon-user form-control-feedback"></span>
              </div>
              <div class="form-group has-feedback">
                  <input type="text" class="form-control" name="last_name" placeholder="Last Name" value=<%=last_name%>>
                  <span class="glyphicon glyphicon-user form-control-feedback"></span>
              </div>
              <div class="form-group has-feedback">
                  <input type="email" class="form-control" name="email" placeholder="Email">
                  <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
              </div>
              <div class="form-group has-feedback">
                  <input type="password" class="form-control" name="password" placeholder="Password">
                  <span class="glyphicon glyphicon-lock form-control-feedback"></span>
              </div>
              <div class="form-group">
                  <label>User Privilege Level</label>
                  <select class="form-control" required="required" name="privilege" id="privilege">
                  	<% if(privilege == "USER") { %>
                      	<option value="USER" selected="selected">USER</option>
                      <% } else { %>
                      	<option value="USER">USER</option>
                      <% } %>

                      <% if(privilege == "WORKER") { %>
                      	<option value="WORKER" selected="selected">WORKER</option>
                      <% } else { %>
                      	<option value="WORKER">WORKER</option>
                      <% } %>

                      <% if(privilege == "MANAGER") { %>
                      	<option value="MANAGER" selected="selected">MANAGER</option>
                      <% } else { %>
                      	<option value="MANAGER">MANAGER</option>
                      <% } %>

                      <% if(privilege == "ADMINISTRATOR") { %>
                      	<option value="ADMINISTRATOR" selected="selected">ADMINISTRATOR</option>
                      <% } else { %>
                      	<option value="ADMINISTRATOR">ADMINISTRATOR</option>
                      <% } %>
                  </select>
              </div>

              <button type="submit" class="btn btn-primary btn-block btn-flat">Submit</button>
          </form>
      </div>
    </section>
</div>
</div>

</div>

<% include ../partials/scripts %>

 <script>

	$("#editProfileForm").validate({
	    rules: {
	      first_name: {
	        required: true
	      }, 
	      last_name: {
	      	required: true
	      }, 
	      email: {
	      	required: true
	      },
	      password: {
	      	required: true
	      },
	      privilege: {
	      	required: true
	      }
	    },
	    submitHandler: function(form) {
	      submitEditProfileForm();
	    }
	  });
	  
  function submitEditProfileForm() {
    var form = document.getElementById("editProfileForm");
    var first_name = form.elements[0].value;
   	var last_name = form.elements[1].value;
   	var email = form.elements[2].value;
   	var password = form.elements[3].value;
   	var privilege = form.elements[4].value;
    $.ajax({
      type: 'POST',
      url: '/api/users',
      data: { first_name: first_name, last_name: last_name, email: email, password: password, privilege: privilege}, 
      success: function (response) {
        alert("Your profile has been updated!");
        window.location.reload();
      },
      error: function (request, status, error) {
        console.log(error);
        alert("Something went wrong, please try again later!");
      }
    });
  }

 </script>

 <% include ../partials/scripts %>

<!-- /.center -->

<!-- jQuery 2.2.3 -->
<script src="../../plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="../../bootstrap/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="../../plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../../plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>

</body>
</html>
